@use "../var.scss";

#root, body, html, .app {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .loginForm {
    margin: 15px 0 15px 0;

    .inputName {
      font-size: 20px;
      margin: 5px 0 5px 0;
    }
  }
}