@use "./var.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var.$white;
  font-family: Arial, Helvetica, sans-serif;
}
// remove selection for all compenants
*,
*::before,
*::after {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body {
  background-color: var.$black;
}
input {
  color: var.$black;
  padding: 5px;
  font-size: 18px;
}
button {
  color: var.$black;
  background-color: var.$kickColor;
  border-radius: 15px;
  border: none;
  padding: 10px 15px 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;

  &:hover {
    background-color: var.$kickLightColor;
  }
}
span {
  color: var.$white;
  margin: 0 5px 0 0;
}
img {
  -webkit-user-drag: none;
  user-select: none;
  cursor: default;
}
a.link {
  color: var.$urlColor !important;
  
  &:hover {
    text-decoration: underline;
  }
}