@use "../../../var.scss";

.app {
  .data {
    .content {
      .message {
        .rules {
          margin: 5px;
          padding: 30px 50px 30px 30px;
          border-radius: 15px;
          background-color: var.$blackLight;

          .top {
            margin: 0 0 0 10px;
            .title {
              font-size: 20px;
              font-weight: 700;
            }
            .channelName {
              color: var.$gray;
            }
          }
          .text {
            font-size: 17px;
            margin: 10px 0 5px 0;
          }

          button {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}