.app {
  .data,
  .data>.content,
  .data>.content>.chat {
    height: 96%;
  }

  .nodata,
  .nodata>.back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nodata {
    cursor: pointer;

    .back {
      .title {
        font-size: 20px;
        margin: 10px;
      }
    }
  }
}